* {
  margin: 0;
  padding: 0;
}
body {
  margin: o;
  font-size: 20px;
  font-family: sans-serif;
}
section {
  width: 100%;
}
section::after {
  content: "";
  clear: both;
  display: table;
}
.text-center {
  text-align: center;
}
#header-resume {
  opacity: 0.8;
  background-position: center;
  background-image: url(background.jpg);
  background-size: cover;
  height: 400px;
  padding-top: 14px;
}
#header-nav ul {
  word-spacing: 20px;
}

#header-nav li {
  display: inline-block;
}

#header-nav li a {
  text-decoration: none;
  color: white;
}
.nav-menu li a {
  transition: color 0.5s, border-bottom 4s;
}

.nav-menu li a:hover {
  color: lightgrey;
  border-bottom: 1px solid black;
}
#name-container {
  margin-top: 150px;
  font-size: 30px;
}
#myName {
  color: white;
}
#about-section {
  height: auto;
  width: 100%;
  position: relative;
}
#myPhoto img {
  margin-top: -120px;
  border: 4px solid white;
  height: 220px;
  width: 220px;
  object-fit: cover;
  border-radius: 50%;
  box-shadow: 0px 0px 6px 4px lightgrey;
}
#about-profile {
  color: grey;
  width: 80%;
  padding: 20px;
  margin: auto;
}
#skills {
  width: 80%;
  margin: auto;
}
.skills-display {
  padding: 5px;
  margin-bottom: 30px;
  margin-left: 200px;
}
.skill-progress {
  border-width: 1px;
  background-color: grey;
  width: 176px;
  height: 35px;
  border-radius: 16px;
  margin: 22px;
  overflow: hidden;
  box-shadow: 1px 1px 2px 1px lightgoldenrodyellow;
}
.skill-box {
  box-shadow: 1px 1px 5px 2px gray;
  border-radius: 20px 0px 0px 20px;
}
.skill-name span {
  color: white;
  margin-left: 10px;
  text-align: center;
  font-size: 16px;
}
.col-3 {
  float: left;
  width: 30%;
  padding: 20px;
}
.sixty-percent {
  height: inherit;
  width: 60%;
}
.hundred-percent {
  height: inherit;
  width: 100%;
}
.eighty-percent {
  height: inherit;
  width: 80%;
}
.seventy-percent {
  height: inherit;
  width: 70%;
}
.red {
  background-color: purple;
}
.yellow {
  background-color: darkblue;
}
.blue {
  background-color: orange;
}
.col-2 {
  float: left;
  width: 45%;
  margin: 20px;
  padding: 10px;
}
#favourites img {
  width: 500px;
  border: 2px dashed darkblue;
  border-radius: 20px;
}
#education {
  width: 80%;
  margin: 0 auto;
}
#education img {
  width: 1000px;
  height: 500px;
  border: 2px dashed rgb(0, 0, 0);
  border-radius: 20px;
}
#education p {
  margin: 20px 0;
}
.places-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 45px 0;
}
.places-row img {
  width: 300px;
  height: 230px;
  border-radius: 20px;
}
.places-container {
  width: 1000px;
  margin: 0 auto;
}
